<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <!-- Nav -->
        <nav class="main-nav">
            <img src="../image/logoHCMUS.png" alt="logo" id="logo" class="logo">

            <div class="titleHeader">HỘI NGHỊ KHOA HỌC 2022</div>
            <div></div>
        </nav>
        <div class="d-flex flex-column align-items-center  mt-4">
            <div class="row justify-content-center">
                <div class="alert alert-light" role="alert">
                    <h3>XÁC NHẬN THAM GIA HỘI NGHỊ</h3>
                </div>
            </div>
            <form action="/confirm" method="post" class="d-flex flex-column col-5">
                <!-- 2 column grid layout with text inputs for the first and last names -->

                <!-- Text input -->
                <div class="form-outline mb-4">
                    <input type="text" id="form6Example3" class="form-control" placeholder="Họ tên" required
                        name="name" />

                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" id="form6Example5" class="form-control" placeholder="Email" required
                        name="email" />
                </div>

                <!-- Number input -->
                <div class=" form-outline mb-4">
                    <input type="tel" id="form6Example6" class="form-control" placeholder="Tel" required name="tel" />
                </div>

                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form6Example8" checked required />
                    <label class="form-check-label" for="form6Example8"> Xác nhận tham gia? </label>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Xác nhận</button>
            </form>
        </div>
        <script>
            $('#logo').click(function (e) {
                //e.preventDefault();
                window.location = "/";
            });


        </script>

</body>

</html>