<div class="container">
    <h1>File Upload</h1>
    {{msg}}
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="file-field input-field">
            <div class="btn grey">
                <span>File</span>
                <input name="myImage" type="file">
            </div>

        </div>
        <button type="submit" class="btn">Submit</button>
    </form>
    <br>
    <img src="{{showImage file}}" class="responsive-img">